@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,500;1,9..40,500&family=Outfit:wght@100..900&family=Playwrite+DE+VA+Guides&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (max-width:1440px){
    body{
        background-color: hsl(212,45%,89%);
        font-family: 'OUTFIT', sans-serif;
    }
    .inner-container{
        background-color: hsl(0, 0%, 100%);
        padding: 10px;
        margin: 100px auto;
        border: none;
        border-radius: 10px;
        width: 15rem;
        height: auto;
    }
    p{
        font-size: 15px;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .p1{
        font-weight: 700;
        color: hsl(218, 44%, 22%);
        padding: 12px;
        text-align: center;
    }
    .p2{
        font-weight: 400;
        color: hsl(216, 15%, 48%);
        padding: 10px;
        padding-top: 0;
        font-size: 12px;
        text-align: center;
    }
    img{
        width: 218px;
    }
}
@media screen and (max-width:375px){
    body{
        background-color: hsl(212,45%,89%);
        font-family: 'OUTFIT', sans-serif;
        max-width: 400px;
        height: 100vh;
    }
    .inner-container{
        background-color: hsl(0, 0%, 100%);
        border: none;
        margin: 80px auto 10px;
        border-radius: 10px;
        width: 15rem;
        height: auto;
    }
    p{
        font-size: 15px;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .p1{
        font-weight: 700;
        color: hsl(218, 44%, 22%);
        padding: 11px;
        text-align: center;
    }
    .p2{
        font-weight: 400;
        color: hsl(216, 15%, 48%);
        padding: 10px;
        padding-top: 0;
        font-size: 12px;
        text-align: center;
    }
    img{
        width: 220px;
        border: none;
        border-radius: 5px;
    }

}
   